.cadastro-categoria {
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50% - 200px);
    width: 400px;
    height: 100%;
    z-index: 9999;
    padding: 20px;
}

.cadastro-categoria input[type="text"],
.cadastro-categoria input[type="password"] {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}

.cadastro-categoria input[type="submit"] {
    width: 100%;
}

#listaRegistros {
    display: none;
}

#cadastroRegistro {
    display: none;
    flex-direction: column;
    gap: 30px;
}

#page-lista #listaRegistros {
    display: block;
}

#page-lista #cadastroRegistro {
    display: flex;
}

#page-lista {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px #ccc;
}

button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #07a;
    color: #fff;
    margin: 3px;
    padding: 10px 15px;
}

button.cinza {
    background-color: #ccc;
    color: #666;
}

button.vermelho {
    background-color: #a00;
}

button:hover {
    opacity: 0.8;
}

input {
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
}

.label>div {
    display: flex;
}

.label>div>input {
    flex: 1;
}