<div>
    <header></header>
    <h1 style="font-size: 25px; text-align: center; font-weight: 700;">CADASTRO CATEGORIA</h1>

    <div class="cadastro-categoria" style="text-align: left;  font-size: 17px;">
        <form>
            <label for="txtNome">Nome</label> <br/>
            <input type="text" id="txtNome" formControlName="nomeFormControl"> <br/>
            <br/>
            <br>
        </form>
        <form>
            <label for="txtNome">Descrição</label> <br/>
            <input type="text" id="txtNome" formControlName="descricaoFormControl"> <br/>
            <br/>
            <br>
            <input type="submit" class="btn btn-outline-primary me-2" value="CADASTRAR" style="background-color: #1E90FF; color: #ffffff; font-weight: 500; ">
        </form>
        <div id='page-list'>
            <div id='listaRegistros'>

                <div style='display: flex;'>
                    <input style='flex:1' placeholder="PESQUISAR" autofocus id='inputPesquisa' />
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome Categoria</th>
                            <th>Validação Produto</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>Nome do produto</th>
                            <th>Validação Produto</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>Nome do produto</th>
                            <th>Validação Produto</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>Nome do produto</th>
                            <th>Validação Produto</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>Nome do produto</th>
                            <th>Validação Produto</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>Nome do produto</th>
                            <th>Validação Produto</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>Nome do produto</th>
                            <th>Validação Produto</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody id='listaRegistrosBody'></tbody>
                </table>




            </div>
        </div>
    </div>

</div>